
body {
	background-image: url('https://image.freepik.com/fotos-gratis/3d-abstrato-baixo-poli-com-conexao-de-linhas-e-pontos_1048-11673.jpg');
	background-size: 100vw 100vh;
	font-family: Arial;
	height: 100vh
}

.menu {
	background-color: white;
}

.menu ul {
	display: flex;
	justify-content: space-around;
}

.menu li {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.site-subtitle, 
.site-title {
	color: whitesmoke;
	text-align: center;
}

.site-subtitle {
	font-style: italic;
}
